<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar-customer" class="list-group">
    <a href="/web/customer/profile" class="list-group-item list-group-item-action"
       hx-get="/web/customer/profile" hx-target="#page-content" hx-select="#page-content" hx-push-url="true">Tài khoản</a>
    <a href="/web/customer/dashboard" class="list-group-item list-group-item-action"
       hx-get="/web/customer/dashboard" hx-target="#page-content" hx-select="#page-content" hx-push-url="true">Đơn hàng</a>
</div>
</body>
</html>


