<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <!-- <head th:replace="fragments/header_customer :: head"></head> -->
  <body class="bg-light">
    <!-- <nav th:replace="fragments/header_customer :: navbar"></nav> -->

    <div class="container-fluid mt-4">
      <div class="row">
        <main
          id="page-content"
          class="col-12 col-md-9 col-lg-10"
          hx-get="/web/customer/dashboard"
          hx-trigger="load"
          hx-push-url="true"
        ></main>
      </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
