<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Shipper</display-name>
    <servlet-name>Shipper</servlet-name>
    <servlet-class>com.uteexpress.entity.Shipper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shipper</servlet-name>
    <url-pattern>/Shipper</url-pattern>
  </servlet-mapping>
  <display-name>Project_LTWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrderStatus</display-name>
    <servlet-name>OrderStatus</servlet-name>
    <servlet-class>com.uteexpress.entity.OrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatus</servlet-name>
    <url-pattern>/OrderStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Warehouse</display-name>
    <servlet-name>Warehouse</servlet-name>
    <servlet-class>com.uteexpress.entity.Warehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Warehouse</servlet-name>
    <url-pattern>/Warehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Role</display-name>
    <servlet-name>Role</servlet-name>
    <servlet-class>com.uteexpress.entity.Role</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role</servlet-name>
    <url-pattern>/Role</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleType</display-name>
    <servlet-name>RoleType</servlet-name>
    <servlet-class>com.uteexpress.entity.RoleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleType</servlet-name>
    <url-pattern>/RoleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationType</display-name>
    <servlet-name>NotificationType</servlet-name>
    <servlet-class>com.uteexpress.entity.NotificationType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationType</servlet-name>
    <url-pattern>/NotificationType</url-pattern>
  </servlet-mapping>
</web-app>